# Ignore Python virtual environment
.venv/

# Ignore environment variables file
.env

# Ignore __pycache__ and compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and temporary files
*.log
.DS_Store
